{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block main %}
<header>
    <h1 id="logo">CodeClan Library</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
        </ul>
    </nav>
</header>
<main>
    {% if error %}
    <span>Please make sure to add a book title, author, and genre</span>
    {% endif %}
    {% for book in books %}  
    <div>
      <p>
            <a href=/books/{{ book.hyphenate_title() }}>{{ book.title }}</a>
            <form action="/books/{{ book.hyphenate_title() }}/update" method="post">
                {% if book.is_checked_out %}
                <span>Checked-in <input name="check-out-status" type="radio" value="checked-in" onchange="this.form.submit()"/></span>
                <span>Checked-out <input name="check-out-status" type="radio" value="checked-out" onchange="this.form.submit()" checked/></span>
                {% else %}
                <span>Checked-in <input name="check-out-status" type="radio" value="checked-in" onchange="this.form.submit()" checked/></span>
                <span>Checked-out <input name="check-out-status" type="radio" value="checked-out" onchange="this.form.submit()"/></span>
                {% endif %}
            </form>
            <form action="/books/{{ book.hyphenate_title() }}/delete" method="post">
            <input type="submit" value="Remove Book">
            </form>
      </p>
    </div>
    {% endfor %}
    <form action="/books/create" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      <label for="author">Author</label>
      <input type="text" name="author" id="author">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre">
      <input type="submit" value="Add Book">
    </form>
</main>
{% endblock %}